<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manager List</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <div class="content">
        <table>
            <thead>
                <tr class="title">
                    <th style="">Id</th>
                    <th style="">Person</th>
                    <th style="">Salary</th>
                    <th style="">NumberOfWorks</th>
                    <th style="">CreatedAt</th>
                    <th style="">ModifiedAt</th>
                    <th style="" colspan="2">OPTIONS</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="manager: ${managerList}">
                <td th:text="${manager.id}"></td>
                <td th:text="${manager.person.name}"></td>
                <td th:text="${manager.salary}"></td>
                <td th:text="${manager.numberOfWorks}"></td>
                <td th:text="${manager.createdAt}"></td>
                <td th:text="${manager.modifiedAt}"></td>
                <td>
                    <a th:href="@{/ui/manager/delete/{id}(id=${manager.id})}">
                        <button class="buttonDelete">Delete</button>
                    </a>
                    <a th:href="@{/ui/manager/showUpdateForm/{id}(id=${manager.id})}">
                        <button class="buttonEdit">Edit</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <br>

        <a th:href = "@{/ui/manager/showNewForm}">
            <button class="btn btn-5">Add</button>
        </a>

        <a class="btn btn-5 link__menu"
           th:href="@{/ui/menu}">
            Menu
        </a>
    </div>
</body>
</html>