<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delivery List</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <div class="content">
        <table>
            <thead>
                <tr class="title">
                    <th style="">Id</th>
                    <th style="">Name</th>
                    <th style="">Address</th>
                    <th style="">Number</th>
                    <th style="">Rating</th>
                    <th style="">CreatedAt</th>
                    <th style="">ModifiedAt</th>
                    <th style="" colspan="2">OPTIONS</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="delivery: ${deliveryList}">
                <td th:text="${delivery.id}"></td>
                <td th:text="${delivery.name}"></td>
                <td th:text="${delivery.address}"></td>
                <td th:text="${delivery.number}"></td>
                <td th:text="${delivery.rating}"></td>
                <td th:text="${delivery.createdAt}"></td>
                <td th:text="${delivery.modifiedAt}"></td>
                <td>
                    <a th:href="@{/ui/delivery/delete/{id}(id=${delivery.id})}">
                        <button class="buttonDelete">Delete</button>
                    </a>
                    <a th:href="@{/ui/delivery/showUpdateForm/{id}(id=${delivery.id})}">
                        <button class="buttonEdit">Edit</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <br>

        <a th:href = "@{/ui/delivery/showNewForm}">
            <button class="btn btn-5">Add</button>
        </a>

        <a class="btn btn-5 link__menu"
           th:href="@{/ui/menu}">
            Menu
        </a>
    </div>
</body>
</html>