<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Provider</title>
    <link  th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <div class="element">
        <form action="#" th:action="@{/ui/provider/add}" th:object="${provider}"
              method="POST">

            <div>
                <h1>ADD PROVIDER</h1>
            </div>

            <table>
                <tr>
                    <td><label for="num1">Name</label></td>
                    <td><input id="num1" th:field="*{name}"  required></td>
                </tr>
                <tr>
                    <td><label for="num2">Address</label></td>
                    <td><input id="num2" th:field="*{address}"  required></td>
                </tr>
                <tr>
                    <td><label for="num3">Number</label></td>
                    <td><input id="num3" th:field="*{number}"  required></td>
                </tr>
                <tr>
                    <td><label for="num4">Head</label></td>
                    <td>
                        <div id="num4" style="text-align: left">
                            <select th:field="*{head}"  required>
                                <option th:each="headIdList: ${headIdList}"
                                        th:value="${headIdList.id}" th:text="${headIdList.person.name}">ID
                                </option>
                            </select>
                        </div>
                    </td>
                </tr>
            </table>

            <br><br>

            <button type="submit" class="btn btn-3">SAVE</button>
        </form>

        <br>
        <a th:href="@{/ui/provider/get/all}">
            <button class="btn btn-5">Back</button>
        </a>

    </div>

    <script th:inline="javascript">
        let listElem = document.querySelectorAll(".dropItem");
        function kl(obj) {
            listElem.forEach(elem => { elem.style.display = "none";});

            if(obj.getAttribute("data-status") === "on") {
                document.querySelectorAll(".btnDropMenu").
                forEach(elem => { elem.setAttribute("data-status", "off"); })
                return;
            }

            listElem.forEach(elem => {
                if(elem.getAttribute("data-id-drop") === obj.getAttribute("data-id")) {
                    elem.style.display = "grid";
                    elem.style.position = "absolute";
                    elem.style.gridTemplateColumns = "auto auto";
                    obj.setAttribute("data-status", "on");
                }else{
                    document.querySelectorAll(".btnDropMenu").
                    forEach(elem => { if(elem != obj) elem.setAttribute("data-status", "off"); })
                }
            })
        }
    </script>
</body>
</html>