<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Head List</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <div class="content">
        <table>
            <thead>
                <tr class="title">
                    <th style="">Id</th>
                    <th style="">Person</th>
                    <th style="">Experience</th>
                    <th style="">NumberOfDevoted</th>
                    <th style="">CreatedAt</th>
                    <th style="">ModifiedAt</th>
                    <th style="" colspan="2">OPTIONS</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="head: ${headList}">
                <td th:text="${head.id}"></td>
                <td th:text="${head.person.name}"></td>
                <td th:text="${head.experience}"></td>
                <td th:text="${head.numberOfDevoted}"></td>
                <td th:text="${head.createdAt}"></td>
                <td th:text="${head.modifiedAt}"></td>
                <td>
                    <a th:href="@{/ui/head/delete/{id}(id=${head.id})}">
                        <button class="buttonDelete">Delete</button>
                    </a>
                    <a th:href="@{/ui/head/showUpdateForm/{id}(id=${head.id})}">
                        <button class="buttonEdit">Edit</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <br>

        <a th:href = "@{/ui/head/showNewForm}">
            <button class="btn btn-5">Add</button>
        </a>

        <a class="btn btn-5 link__menu"
           th:href="@{/ui/menu}">
            Menu
        </a>
    </div>
</body>
</html>