<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Goods</title>
    <link  th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <div class="element">
        <form id="dataMain" action="#" th:action="@{/ui/goods/update}" th:object="${goods}"
              method="POST">

            <table>
                <tr>
                    <td><label for="num0">Id</label></td>
                    <td><input id="num0" readonly th:field="*{id}"/></td>
                </tr>
                <tr>
                    <td><label for="num1">Provider</label></td>
                    <td>
                        <div id="num1" style="text-align: left">
                            <select th:field="*{provider}"  required>
                                <option th:each="providerIdList: ${providerIdList}"
                                        th:value="${providerIdList.id}" th:text="${providerIdList.name}">ID
                                </option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label for="num2">Producer</label></td>
                    <td>
                        <div id="num2" style="text-align: left">
                            <select th:field="*{producer}"  required>
                                <option th:each="producerIdList: ${producerIdList}"
                                        th:value="${producerIdList.id}" th:text="${producerIdList.country}">ID
                                </option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label for="num3">Name</label></td>
                    <td><input id="num3" th:field="*{name}"  required></td>
                </tr>
                <tr>
                    <td><label for="num4">UnitsOfMeasurement</label></td>
                    <td><input id="num4" th:field="*{unitsOfMeasurement}"  required></td>
                </tr>
                <tr>
                    <td><label for="num5">Num</label></td>
                    <td><input id="num5" type="number" th:field="*{num}"  required></td>
                </tr>
                <tr>
                    <td><label for="num6">PurchasePricePerUnit</label></td>
                    <td><input id="num6" type="number" th:field="*{purchasePricePerUnit}"  required></td>
                </tr>
                <tr>
                    <td><label for="num7">SellingPricePerUnit</label></td>
                    <td><input id="num7" type="number" th:field="*{sellingPricePerUnit}"  required></td>
                </tr>
            </table>

            <br><br>

            <button form="dataMain" type="submit" class="btn btn-3">DONE</button>
        </form>
        <br>
        <a th:href="@{/ui/goods/get/all}">
            <button class="btn btn-5">Back</button>
        </a>
    </div>

</body>
</html>