<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accounting List</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <div class="content">
        <table>
            <thead>
                <tr class="title">
                    <th style="">Id</th>
                    <th style="">Provider</th>
                    <th style="">Buyer</th>
                    <th style="">Goods</th>
                    <th style="">Conclusion</th>
                    <th style="">CreatedAt</th>
                    <th style="">ModifiedAt</th>
                    <th style="" colspan="2">OPTIONS</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="accounting: ${accountingList}">
                <td th:text="${accounting.id}"></td>
                <td th:text="${accounting.provider.name}"></td>
                <td th:text="${accounting.buyer.name}"></td>
                <td th:text="${accounting.goods.name}"></td>
                <td th:text="${accounting.conclusion}"></td>
                <td th:text="${accounting.createdAt}"></td>
                <td th:text="${accounting.modifiedAt}"></td>
                <td>
                    <a th:href="@{/ui/accounting/delete/{id}(id=${accounting.id})}">
                        <button class="buttonDelete">Delete</button>
                    </a>
                    <a th:href="@{/ui/accounting/showUpdateForm/{id}(id=${accounting.id})}">
                        <button class="buttonEdit">Edit</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <br>

        <a th:href = "@{/ui/accounting/showNewForm}">
            <button class="btn btn-5">Add</button>
        </a>

        <a class="btn btn-5 link__menu"
           th:href="@{/ui/menu}">
            Menu
        </a>
    </div>
</body>
</html>