<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <div class="content">
        <h1 class="menu-text">Menu</h1>
        <table>
            <tbody class="menu">
            <tr>
                <td>
                    <a data-text="Requests"
                       th:href = "@{/ui/menu/}"
                       onclick="window.location.href = this.getAttribute('href')">
                        Requests
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a th:href="@{/ui/accounting/get/all}">Accounting</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a th:href="@{/ui/buyer/get/all}">Buyer</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a th:href="@{/ui/deal/get/all}">Deal</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a th:href="@{/ui/delivery/get/all}">Delivery</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a th:href="@{/ui/goods/get/all}">Goods</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a th:href="@{/ui/head/get/all}">Head</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a th:href="@{/ui/manager/get/all}">Manager</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a th:href="@{/ui/person/get/all}">Person</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a th:href="@{/ui/producer/get/all}">Producer</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a th:href="@{/ui/provider/get/all}">Provider</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>