<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Deal List</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <div class="content">
        <table>
            <thead>
                <tr class="title">
                    <th style="">Id</th>
                    <th style="">Provider</th>
                    <th style="">Buyer</th>
                    <th style="">Offtake</th>
                    <th style="">Sum</th>
                    <th style="">CreatedAt</th>
                    <th style="">ModifiedAt</th>
                    <th style="" colspan="2">OPTIONS</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="deal: ${dealList}">
                <td th:text="${deal.id}"></td>
                <td th:text="${deal.provider.name}"></td>
                <td th:text="${deal.buyer.name}"></td>
                <td th:text="${deal.offtake}"></td>
                <td th:text="${deal.sum}"></td>
                <td th:text="${deal.createdAt}"></td>
                <td th:text="${deal.modifiedAt}"></td>
                <td>
                    <a th:href="@{/ui/deal/delete/{id}(id=${deal.id})}">
                        <button class="buttonDelete">Delete</button>
                    </a>
                    <a th:href="@{/ui/deal/showUpdateForm/{id}(id=${deal.id})}">
                        <button class="buttonEdit">Edit</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <br>

        <a th:href = "@{/ui/deal/showNewForm}">
            <button class="btn btn-5">Add</button>
        </a>

        <a class="btn btn-5 link__menu"
           th:href="@{/ui/menu}">
            Menu
        </a>
    </div>
</body>
</html>